@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.button {
    width: -moz-fit-content;
    width: fit-content;
}

.bolt-tooltip {
    pointer-events: none;
}

.resultbox {
    width: 100%;
    max-width: 100%;
    font-family: $fontFamilyMonospace;
    background: $neutral-alpha-30;
    overflow: hidden;
    overflow-x: auto;
    color: $primary-text;
}

.resultbox:empty {
    display: none;
}

.buttonContainer {
    display:flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 10px;
}